.Board {
  float: left;
  border: 2px solid white;
}

.square:nth-child(3),
.square:nth-child(6) {
  border-right: 2px solid whitesmoke;
}

.row:nth-child(3),
.row:nth-child(6) {
  border-bottom: 2px solid whitesmoke;
}

.square {
  border: 1px solid grey;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.5em;
  /* border: 0px; */
}

.active {
  background-color: #202020;
  color: white;
}

.active:focus {
  background-color: #5cdb95;
  /* opacity: 0.8; */
  outline: none;
}

.inactive {
  background-color: #383838;
  color: rgba(255, 255, 255, 0.6);
}

.wrong {
  background-color: #c7493a;
}
