.Board {
  margin: 40px;
  float: left;
  border: 2px solid black;
}

.square:nth-child(3),
.square:nth-child(6) {
  border-right: 2px solid black;
}

.row:nth-child(3),
.row:nth-child(6) {
  border-bottom: 2px solid black;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.square {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.5em;
  border: 0px;
}

.active {
  background-color: white;
}

.active:focus {
  background-color: aquamarine;
  outline: none;
}

.inactive {
  background-color: #0000001c;
  color: #00000085;
}

.wrong {
  background-color: red;
}
